@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.cuisine-button {
    @include button;
    display: flex;
    height: 124px;
    border-radius: 16px;
    border: 0px;
    background-color: $secondary;
    justify-content: center;
    text-decoration: none;

    &__button {
        @include button;
        height: 124px;
        border: 0px;
        background-color: transparent;
    }
}
