@use "./fonts" as *;
@use "./variables" as *;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir";
}

body {
    background-image: linear-gradient(to bottom right, $red, $orange);
    background-attachment: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
}
