// Color Palate

$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;

$black: #000000;
$primary: #000000;
$secondary: #fb8332;
$white: #ffffff;
$offwhite: #fafafa;
$mercury: #e1e1e1;

// Media Sizing

$width: 1280px;
