// Color Palate

//Color Scheme - Lemon Lime
//https://hookagency.com/blog/website-color-schemes/

$lime: #abd699;
$lemon: #ffe26a;
$lightlemon: rgb(255, 238, 170);
$teal: #75c9b7;
$mint: #c7ddcc;
$navy: #16123f;
$red: rgb(248, 122, 122);
$orange: rgb(253, 217, 150);

$logotext: #ff485e;
$black: #000000;
$white: #ffffff;

// Background colors

@mixin displaybackground {
    background-color: $white;
    opacity: 0.95;
}

$width: 1280px;
