@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.food-button {
    @include button;
    display: flex;
    height: 124px;
    border-radius: 16px;
    border: 0px;
    background-color: $lightlemon;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    &:hover {
        transition: 0.5s;
        box-shadow: 0px 0px 30px $navy;
    }

    &__button {
        @include button;
        border: 0px;
        background-color: transparent;
    }
}
