@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.map {
    height: 700px;
    width: 920px;
}

.googlesearch {
    display: flex;

    &__sidebar {
        display: flex;
        flex-direction: column;
        flex-basis: 80px;
        flex-grow: 1;
        padding: 0px;
        max-width: 360px;
        // height: auto;
        box-sizing: border-box;
        overflow: auto;
    }

    &__back-button {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 12px;
        text-decoration: none;
        background-color: $lemon;
        color: $black;
    }

    &__cuisine {
        @include subheader;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 600px;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
    cursor: pointer;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}
