@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.footer {
    @include displaybackground;
    display: flex;
    width: $width;

    height: 100px;
    align-items: center;
    justify-content: center;
}
