@use "../../styles/partials/variables" as *;

.footer {
    @include displaybackground;
    display: flex;
    width: $displaywidth;

    height: 100px;
    align-items: center;
    justify-content: center;
}
